h2{
    font-family: 'Red Rose';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    color: #000000;
    text-align: center;
}
.cardlist{
    
    display:flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
    margin: 0rem 2rem 0.5rem;
    gap: 0.5rem;
}
.card{
    background: linear-gradient(124.4deg, #FFFFFF 10.8%, #FFFFFF 87.34%);
    border: 1px solid #D7D7D7;
    border-radius: 15px;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
}
.houseimage{
    text-align: center;
    margin: 0rem auto;
}
p{
    display:flex;
    justify-content: space-between;
}
.houseName{
    font-family: 'Red Rose';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 13px;
    color: #434343;
}
.housePrice{
    font-family: 'Red Rose';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 13px;
    color: #434343;
}
.distance{
    font-family: 'Red Rose';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 13px;
    color: #434343;
}
.availability{
    font-family: 'Red Rose';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 13px;
    color: #434343;
    align-self: flex-end;
}

.fa-star{
    cursor: pointer;
    color: rgba(128, 128, 128, 0.506);
}
.active.fa-star{
    color: rgb(221, 221, 41);
}
