.nft{
    display:flex;
    justify-content: space-between;
    background: linear-gradient(90deg, #A02279 11.45%, #A02279 11.45%);
    padding:4rem 2rem 10rem;
}
.nftText{
    width:50%;
    margin-top: 8%;
}
.nftText h2{
    font-family: 'Red Rose';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    text-align: left;
    background: linear-gradient(124.4deg, #FFFFFF 10.8%, #FFFFFF 87.34%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.nftText p{
    font-family: 'Red Rose';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 35px;
    background: linear-gradient(124.4deg, #FFFFFF 10.8%, #FFFFFF 87.34%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.learnmore{
    background: linear-gradient(124.4deg, #FFFFFF 10.8%, #FFFFFF 87.34%);
    border-radius: 8px;
    font-family: 'Red Rose';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color:#A02279 ;
    cursor: pointer;
}
.nftImages{
    width:100%;
    position: relative;
}
.nftImages img{
    width:50%
}
.nftImg1{
position: absolute;
top: 0px;
right: 20px;
}
.nftImg2{
    position: absolute;
    right: 250px;
    top:200px;
}
.nftImg3{
    position:absolute;
    right:0;
    top: 250px;
}
@media screen and (max-width:1100px){
    .nftText{
        margin-top: 0rem;
        width: 60%;
    }
    .nftImg1{
        position: absolute;
        top: 0px;
        right: 0%;
        }
        .nftImg2{
            position: absolute;
            right: 30%;
            top:30%;
        }
        .nftImg3{
            position:absolute;
            right:0;
            top: 50%;
        }  
}
@media screen and (max-width:925px){
    .nftText{
        margin-top: 0rem;
        width: 60%;
    }
    .nftImg1{
        position: absolute;
        top: 0px;
        right: 0%;
        }
        .nftImg2{
            position: absolute;
            right: 35%;
            top:25%;
        }
        .nftImg3{
            position:absolute;
            right:0;
            top: 35%;
        }  
}
@media screen and (max-width:888px){
    .nft{
        padding: 4rem 2rem 2rem;
    }
    .nftText{
        width: 80%;
    }
}
@media screen and (max-width:760px){
    .nft{
        flex-direction: column;
        position: relative;
        padding-bottom: 5rem;
    }
    .nftText{
        width: 100%;
    }
    .nftImages{
        width:100%;
        position: sticky;
    }
    .nftImages img{
        width:50%
    }
    .nftImg1{
    position: absolute;
    right: 0%;
    top: 0%;
    }
    .nftImg2{
        position: relative;
        left: 10%;
        top: 20%;   
    }
    .nftImg3{
        position:absolute;
        left:40%;
        top: 65%;
    }
}